<div class="container">
  <div class="header-box">
    <div class="navigation-box">
    </div>
    <div class="text-box">
      <div class="text-content">
        <p class="text" mat-title>{{ name }}</p>
        <p class="text" mat-subtitle>{{ specialization }}</p>
      </div>
    </div>
    <div class="img-box">
      <img class="img" [src]="img" alt="img">
    </div>
  </div>
  <div class="content-box">
    <div class="content">
      <div class="content-align">
        <div class="link-box">
          <p>Some Links</p>
        </div>
        <div class="text-box">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil in libero reiciendis velit illum illo. Rem ut libero facere commodi soluta eveniet ipsam quae quia. Sapiente, incidunt obcaecati. Fugiat!</p>
        </div>
        <div class="button-box">
          <button class="button" mat-button>Download CV</button>
          <button class="button" mat-button>Contact me</button>
        </div>
      </div>
    </div>
  </div>
</div>